.App {
  text-align: center;
}

.head_task{
  margin-left: 400px;
}

.add-task{
  padding: 16px;
  float:left;
  margin:0 8px;
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-around;
  margin:20px 0;
}

.add_task_btn{
  margin: 8px;
}
